# Database (PostgreSQL - Neon)
DATABASE_URL="postgresql://user:password@localhost:5432/pdfrn?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-this-to-random-string-min-32-chars"

# Resend (Email)
RESEND_API_KEY="re_xxxxx"
RESEND_SENDER_EMAIL="admin@parstama.my.id"

# Groq (AI Chat + Vision)
GROQ_API_KEY="gsk_xxxxx"

# Vercel Blob (Upload)
BLOB_READ_WRITE_TOKEN="xxxxx"

# WhatsApp (optional, fallback ke constants.ts)
# WA_NUMBER="0814-5914-5800"
# WA_FULL="6281459145800"
