# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/pdfrn?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-this-to-random-string-min-32-chars"
